.CosmeticCardTemplateGrid {
    position: relative;
    transition: max-height .5s;
    height: 100%;
    max-height: 400px;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 50px;
        width: 100%;
        box-shadow: inset 0px -32px 19px -14px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }
}

.CosmeticCardTemplateGridOpen {
    max-height: 8000px;

    &::after {
        content: "";
        display: none;
    }
}

.ButtonCosmeticOpen {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 222;
}