.cosmeticCard {
    img {
        transition: transform .2s;
    }

    &:hover {
        opacity: .8;
        transition: opacity .2s;

        img {
            transform: scale(1.02);
        }
    }
}